<main>
    @if(addNewTeam) {
    <form>
        <h3>Create New Team</h3>

        <label for="teamName">Team Name</label>
        <input type="text" name="teamName" id="teamName" [(ngModel)]="teamName">
        <button type="button" (click)="createNewTeam()">GO</button>
    </form>
    }
    <h1>
        Teams
        <button id="newTeamButton" type="button" (click)="addTeam()">Add New Team</button>
        
    </h1>

    @for (team of teams; track $index) {
        <app-team [team]="team"></app-team>
    }

</main>